h1 {
  font-weight: bold;
  text-align: center;
  margin: 30px;
  font-family: 'Lexend Peta', sans-serif;
  font-size: 30px;
}

h2, h3, h5 {
  font-weight: bold;
}

#current-balance {
  background-color: white;
  border: 2px solid black;
  float: inherit;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input{
  margin-bottom: 10px;
}

input[type=text] #new-balance {
  width: 25%;
}

button {
  margin-top: 10px;
}

.card {
  border: 2px solid black;
  background-color: lightblue;
  margin-bottom: 20px;
}
